   <header id="header">
        <h1>List of Employees</h1>
    </header>

<section id="main">
    <ul id="employee-list">
            {{#each model as |employee|}}
                {{employee-component employee=employee}}
            {{/each}}
    </ul>
</section>



<div>
  {{#link-to 'dashboard'}} <button type="button">Go to Dashboard</button> {{/link-to}}
</div>

<footer id="footer">
    <span id="todo-count">
        <strong>{{model.length}} </strong> employees
    </span>
</footer>